body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
      background-color: grey;
      padding: 20px;
      text-align: center;
      color: white;
}
        /* CSS for the map container */
#map {
    width: 70%;
    height: 600px;
    float: left;
}
        /* CSS for the navigation container */
nav {
    float: left;
    padding: 20px;
}
        /* CSS for the warning message */
.warning {
        background-color: yellow;
        padding: 10px;
        text-align: center;
        font-weight: bold;
}


header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

main h2 {
    color: #333;
}

main p {
    color: #666;
}

main ul {
    list-style-type: none;
    padding: 0;
}

main ul li {
    margin-bottom: 10px;
}

main ul li a {
    color: #4CAF50;
    text-decoration: none;
}

main ul li a:hover {
    text-decoration: underline;
}
