
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #575757;
}

.nav-left a {
    font-size: 20px;
    font-weight: bold;
}

.nav-right a {
    margin-left: 20px;
}

.warning {
        background-color: yellow;
        padding: 10px;
        text-align: center;
        font-weight: bold;
}


header h1 {
    margin: 0;
    font-size: 24px;
}



main {
    padding: 20px;
}

main h2 {
    color: #333;
}

main p {
    color: #666;
}

main ul {
    list-style-type: none;
    padding: 0;
}

main ul li {
    margin-bottom: 10px;
}

main ul li a {
    color: #4CAF50;
    text-decoration: none;
}

main ul li a:hover {
    text-decoration: underline;
}
